@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home-container {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 1000; /* Asegura que el header esté por encima del resto del contenido */
  padding: 10px 0;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente deseada */
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.navbar a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  color: white;
  padding: 20px 0;
  text-align: center;
}